{# template to generate the command line for the setup.sh installation script #}

ansible-playbook -i "{{ aap_setup_inst_inventory }}"  ansible.containerized_installer.install
{%- for varkey in aap_setup_inst_extra_vars %}
 -e {{ varkey }}={{ aap_setup_inst_extra_vars[varkey] | quote }}
{%- endfor -%}
{%- for varsfile in __extra_vars_files.results %}
 -e @{{ varsfile.dest }}
{%- endfor -%}
