---
namespace: {{ collection_namespace }}
name: {{ collection_name }}
version: {{ collection_version }}
description: A collection of utility roles for usage with Ansible Automation Platform
readme: README.md
authors:
    - Jonathan Lozada De La Matta @jlozadad
    - Kedar Kulkarni @kedark3
    - Tom Page @Tompage1994
    - Sean Sullivan @sean-m-sullivan
    - Eric Lavarde @ericzolf
    - Brant Evans @branic
    - Christopher Renwick @crenwick93
repository: {{ collection_repo }}
issues: {{ collection_repo }}/issues
build_ignore:
    - galaxy.yml.j2
    - .github
    - .markdownlint.yml
    - .ansible-lint
    - .yamllint.yml
    - .pre-commit-config.yaml
    - .gitignore
    - .gitattributes
    - '*.tar.gz'
license:
    - GPL-3.0-or-later
tags:
    - ansible_automation_platform
    - aap
    - aap_utils
    - aap_utilities
    - collection
    - utilities
    - utils
    - tower
    - tower_utilities
    - tower_utils
dependencies:
    "ansible.posix": ">=1.0.0"
    "kubernetes.core": ">=2.2.0"
