---
apiVersion: automationcontroller.ansible.com/v1beta1
kind: AutomationController
metadata:
  name: {{ aap_ocp_install_controller['instance_name'] }}
  namespace: {{ aap_ocp_install_controller['namespace'] | default(aap_ocp_install_namespace) }}
spec:
  create_preload_data: {{ aap_ocp_install_controller['create_preload_data'] | default(true) | bool }}
  garbage_collect_secrets: {{ aap_ocp_install_controller['garbage_collect_secrets'] | default(false) | bool }}
  image_pull_policy: {{ aap_ocp_install_controller['image_pull_policy'] | default('IfNotPresent') }}
  projects_persistence: {{ aap_ocp_install_controller['projects_persistence'] | default(false) | bool }}
  projects_storage_size: {{ aap_ocp_install_controller['projects_storage_size'] | default('8Gi') }}
  replicas: {{ aap_ocp_install_controller['replicas'] | default(1) | int }}
  admin_user: {{ aap_ocp_install_controller['admin_user'] | default('admin') }}
...
